* {
  font-family: "Work Sans", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

.logo-container {
  display: flex;
  padding-left: 90px;
}

.headline {
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  padding-left: 10px;
}

.logo {
  width: 79.041px;
  height: 37px;
  padding-top: 10px;
  cursor: pointer;
}

.gamer-letter {
  color: #ff42a5;
}

header {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
  padding: 24px 90px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav > ul {
  display: flex;
}

nav li {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  margin-right: 30px;
  color: #3c354f;
  /* text-align: center; */
  font-family: Work Sans;
  font-size: 18px;
  /* padding-top: 50px; */
  font-weight: 500;
}

nav li a {
  color: var(--Dark-02, #424242);

  text-decoration: none;
}

.follow-us-box {
  width: 262px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  cursor: pointer;
}

.head-icon {
  width: 24px;
  height: 24px;
}

.banner-container {
  max-width: 1400px;
  min-height: 50px;
  display: flex;
  background-color: #fff;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  fill: linear-gradient(
    235deg,
    rgba(140, 87, 238, 0.03) 3.9%,
    rgba(241, 68, 174, 0.03) 100.56%
  );
  background-image: url("/images/Group 14.png");
  background-repeat: no-repeat;
}

.banner-text {
  width: 50%;
  text-align: left;
  padding-left: 170px;
}
.banner-img {
  width: 40%;
  padding-right: 100px;
}
.banner-img img {
  width: 100%;
  border-radius: 10px;
  /* height: 100%; */
  object-fit: cover;
}

.banner-text h1 {
  background-image: linear-gradient(to bottom, #9376e0, #e893cf);
  color: transparent;
  -webkit-background-clip: text;
  font-size: 70px;
}
.banner-text p {
  font-size: 15px;
  padding: 5px;
}

.banner-p {
  padding-top: 20px;
  padding-bottom: 20px;
}

.banner-header {
  font-size: 40px;
}

.banner-button1 {
  padding: 20px 30px;
  color: #fff;
  border: none;
  margin-right: 20px;
  border-radius: 48px;
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
}

.banner-button2 {
  padding: 20px 30px;
  color: #fff;

  border: none;
  margin-right: 20px;
  border-radius: 48px;
  background: #4ec5f7;
}

.online-games {
}

.online-title {
  padding-top: 100px;
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.funny-videos {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.online-p {
  padding: 50px;
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}

.online-games-card-container {
  display: flex;
}

.online-games-card-container .card {
  border-radius: 8px;
  text-align: center;
  padding-bottom: 55px;
  /* padding: 20px; */
}

.card img {
  width: 80%;
}




.play-games-online-container{
    padding:100px;
    display: flex;
}

.img-container{
/* margin: 5% 10%; */
}

.img-container div{
    /* width:50%; */
}

.img-1{
    position: relative;
  
}

.img-1 img{
  width: 80%;
}

.img-2{
   
}

.img-2 img{
  position: absolute;
  top: 1705px;
  right: 647px;
  width: 15%
}

    /* bottom: -40px;
    right: -50px; */


.play-games-content{
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
 /* padding: 300px 50px; */
   
}

.play-games-title{
  padding-top: 150px;
  padding-left: 50px;
font-size: 35px;
/* padding-bottom: 20px; */
}

.span-instant{
  background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}

.play-games-description{
padding-left: 50px;
  line-height: 35px;

}







.review-container{
 gap: 20px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding-bottom: 100px;

}
.single-review{
  flex-basis:200px;
  background-color: transparent;
  padding: 10px;
  border-radius: 10px;
}

.single-review img{
  width: 60px;
  height: 60px;
}
.top-review{
  display: flex;
  justify-content:flex-start;
  align-items: center;
}

.top-review p{
  padding-left: 10px;
}

.single-review:hover{
  border-radius: 50px;
  font-weight: 700;
  color: #F948B2;
border: 2.5px solid var(--Linear, #FF42A5);
background: #FFF;
cursor: pointer;
}


.flower-email {
  display: flex;
  gap: 10px;
  justify-content: center;
  /* padding-left: 260px; */
}

.footer-cover {
  background: #111010;
  background-repeat: no-repeat;

  margin: auto;
  height: 365px;
  background-size: contain;
}

.footer-cover-title {
  color: white;
  padding-top: 70px;
  text-align: center;
  font-size: 35px;
}
.footer-cover-description {
  align-items: center;
  cursor: pointer;
  
}

.footer-end {
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  padding-top: p20x;
  padding-bottom: 40px;
}

.span {
  color: #e55473;
}

.footer-cover{
  background-color:#111010;
}

.footer-headline{
color: #fff;
  text-align: center;
  font-family: Work Sans;
  font-size: 45px;
  font-weight: 700;
  cursor: pointer;
  padding-left: 10px;

}

.footer-cover-container{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 70px;
}


.footer-nav-2{
  background-color: #111010;
}

.footer-nav ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.footer-nav ul li{
  padding: 15px;
  color: #fff;
  list-style: none;
  cursor: pointer;
 
}

.footer p{
  color: rgba(255, 255, 255, 0.60);

}


.footer-nav-2 ul{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.footer-nav-2 ul li{
  padding: 15px;
  color: rgba(255, 255, 255, 0.60);
  list-style: none;
  cursor: pointer;
 
}

.footer-end-2{
  background-color: #111010;
  color: rgba(255, 255, 255, 0.60);
  text-align: center;
  padding-top: 20x;
  padding-bottom: 100px;
}





/* responsive design for mobile and similar devices */


@media screen and (max-width: 576px) {

  header,nav,nav > ul,nav li,nav li a,.logo,.headline{
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .banner-container{
 
    display:flex;
    flex-direction: column;
  }

  .banner-text{
    padding-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
  }

  .banner-img{
    width: 70%;
    padding-top: 80px;
padding-left: 90px;
    /* display: block; */
    /* display: grid;
    grid-template-columns: repeat(1,1fr); */

  }

  .online-games-card-container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
  }

.play-games-online-container{

  display: flex;
  flex-flow: column;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: repeat(1,1fr); */
}


.img-1 img{
  width: 120%;
}


.img-2 img{
  position: absolute;
  top: 3544px;
  right: 6px;
  width: 25%;
}


.play-games-content{
  width: 100%;
  display: flex;
  flex-direction: column;
}


.review-container{

  display: grid;
  grid-template-columns: repeat(2,1fr);
}


.footer-cover{
  /* display: flex;
  flex-direction: column; */
}

.footer-nav li{
  /* display: block; */
  display: flex;
  flex-direction: column;
}


}